@model List<ProductViewModel>

<div class="row">
    @await Html.PartialAsync("AdminMenu")

    <div class="col-9">
        <h3>All Products</h3>
        <a class="btn btn-info mb-3" asp-area="Admin" asp-controller="Product" asp-action="Add">Add new Product</a>
        <table class="table table-striped">    
            <thread>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Cost</td>
                    <td><a asp-area="Admin" asp-controller="Product" asp-action="Edit" 
                           asp-route-id="@Model[i].Id" class="btn btn-secondary">Edit</a></td>
                    <td><a asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" 
                           asp-route-id="@Model[i].Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>